#arrowUp{
    height: 4%;
    width: 4%;
    background-image: url("../gfx/arrow.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 68%;
    right: 5%;
}
#arrowDown{
    height: 4%;
    width: 4%;
    background-image: url("../gfx/arrow.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top: 80%;
    right: 5%;
    -webkit-transform: rotate(-180deg);
}
#arrowRight{
    height: 4%;
    width: 4%;
    background-image: url("../gfx/arrow.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top: 74%;
    right: 2%;
    -webkit-transform: rotate(-270deg);
}
#arrowLeft{
    height: 4%;
    width: 4%;
    background-image: url("../gfx/arrow.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top: 74%;
    right: 8%;
    -webkit-transform: rotate(-90deg);
}
#buttonShoot{
    height: 4%;
    width: 8%;
    background-color: blue;
    position: absolute;
    top: 60%;
    right: 3%;
}
