.arrow {
    height: 20px;
    width: 40px;
    background-image: url("../gfx/arrow.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#arrowUp, #arrowDown {
    right: 40%;
}
#arrowUp{
    top: 68%;
}
#arrowDown{
    top: 80%;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

#arrowLeft, #arrowRight {
    top: 74%;
}
#arrowRight{
    right: 16%;
    transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
}
#arrowLeft{
    right: 64%;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
#buttonShoot{
    height: 4%;
    width: 90%;
    background-color: blue;
    position: absolute;
    top: 60%;
    right: 3%;
}
