#arrowUp{
    height: 20px;
    width: 20px;
    background-color: green;
    position: absolute;
    top: 70%;
    right: 5%;
}
#arrowDown{
    height: 20px;
    width: 20px;
    background-color: yellow;
    position:absolute;
    top: 79%;
    right: 5%;
}
#arrowRight{
    height: 20px;
    width: 20px;
    background-color: red;
    position:absolute;
    top: 74%;
    right: 3%;
}
#arrowLeft{
    height: 20px;
    width: 20px;
    background-color: black;
    position:absolute;
    top: 74%;
    right: 7%;
}
#buttonShoot{
    height: 30px;
    width: 60;
    background-color: blue;
    position: absolute;
    top: 63%;
    right: 4%;
}