#map {
	position: absolute;
    width: 600px;
    height: 360px;
	background-image: url("../gfx/bg.png");
	background-size: 30px;
}

.gameobject {
	position: absolute;
	transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-webkit-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
}

.tank   {
    background-image: url("../gfx/tank.png");
    background-size: 30px;
    z-index: 1;
}

.tank-user {
	background-image: url("../gfx/tank-user.png");
	background-size: 30px;
	z-index: 1;
}

.bullet {
	background-image: url("../gfx/bullet.png");
	transition: all 30ms linear;
	-moz-transition: all 30ms linear;
	-webkit-transition: all 30ms linear;
	-ms-transition: all 30ms linear;
	-o-transition: all 30ms linear;
}
.stone  {
    background-image: url("../gfx/stone.png");
    background-size: 10px;
}

.forest {
	background-image: url("../gfx/forest.png");
	background-size: 30px;
	z-index: 2;
}

.wall {
	background-image: url("../gfx/wall.png");
	background-size: 10px;
}

.hp-bar {
	position: absolute;
	width: 200px;
	height: 30px;
	left: 0px;
	top: 330px;
	background-color: green;
	-webkit-filter: opacity(50%);
	z-index: 3;
}
