#map {
	position: absolute;
	width: 600;
	height: 360;
	border: 1px solid red;
}

.gameobject {
	position: absolute;

	-webkit-transition: all 100ms;
	-webkit-transition-property: all;
	-webkit-transition-duration: 100ms;
	-webkit-transition-timing-function: linear;	
}

.tank   {
    background-image: url("../gfx/tank-blue.png");
    background-size: 30px;
}
.bullet { background-color: red   }
.brick  {
    background-image: url("../gfx/wall.png");
    background-size: 30px;

}

