#sidebar{
}
.arrow {
    height: 50px;
    width: 200px;
    background-color: yellow;
    background-size: cover;
    position: absolute;
}

#arrowUp, #arrowDown {
    right: 10%;
    left: 10%;
}
#arrowUp{
    top: 10%;
}
#arrowDown{
    bottom: 10%;
    transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

#arrowLeft, #arrowRight {
    bottom: 0%;
}
#arrowRight{
    right: 0%;
    transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
}
#arrowLeft{
    right: 0%;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}
#buttonShoot{
    height: 30px;
    width: 90%;
    background-color: blue;
    position: absolute;
    top: 60%;
    right: 3%;
}
